<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}pegski - we got your peg{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{ asset('bundles/pegweb/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/pegweb/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/pegweb/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/pegweb/css/fontello.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/pegweb/css/fontello-codes.css') }}" rel="stylesheet">
</head>
<body>

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top pegski-navbar">
        <div class="container">
            {% block navbar_container %}
                <div class="navbar-header" style="width: 400px;">
                    <a class="navbar-brand" href="{{ path('web_homepage') }}">PEGSKI /</a>
                    <input type="text" id="timelineSearch" placeholder="peg code">
                </div>
                <div id="navbar" class="navbar-right hidden-xs">
                    <ul class="nav navbar-nav">
                        {% block navbar_navigation %}
                        {% endblock %}
                    </ul>
                </div><!--/.nav-collapse -->
            {% endblock %}
        </div>
    </nav>
{% endblock %}

<div class="container content-container">

    <div class="row">
        <div class="col-md-12">
            {% for type, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    {% block header %}
        <div class="row logo">
            <div class="col-md-12">
                <center>
                    <img src="/bundles/pegweb/img/pegski_logo.svg" title="pegski logo">
                </center>
            </div>
        </div>
    {% endblock %}

    {% block body %}

    {% endblock %}
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ asset('bundles/pegweb/js/jquery-3.1.0.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('bundles/pegweb/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/pegweb/js/md5.min.js') }}"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('bundles/pegweb/js/escape-html.js') }}"></script>

<script src="{{ asset('bundles/pegweb/js/application.js') }}"></script>

{% block scripts %}

{% endblock %}

</body>
</html>