{% extends 'PegWebBundle::bootstrap/base.html.twig' %}

{% macro timeline_item(inverted, badge, title, time, text) %}
    <li {% if inverted is not null and inverted == true %}class="timeline-inverted"{% endif %}>
        <div class="timeline-avatar">
            <img src="https://nl.gravatar.com/userimage/53532088/935529cd68aca7983949ebcc44355078.jpg?size=200" class="img-responsive img-circle">
        </div>
        <div class="timeline-badge"><i class="glyphicon glyphicon-{{ badge|default('check') }}"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">{{ title }}</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ time }}</small></p>
            </div>
            <div class="timeline-body">
                {{ text|raw }}
            </div>
        </div>
    </li>
{% endmacro %}

{% block navbar_navigation %}
    <li><a href="{{ path('web_homepage') }}">Recent Pegs</a></li>
{% endblock %}

{% block body %}
    <ul class="timeline">
        <li class="timeline-add-event"><!-- Button trigger modal -->
            <a href="#" data-toggle="modal" data-target="#addEventModal">
                <div class="timeline-badge"><i class="glyphicon glyphicon-plus"></i></div>
            </a>
        </li>
    </ul>

    <!-- Modal -->
    <div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add new event to your peg</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">`
                            <input type="text" name="description" class="form-control" placeholder="Description">
                        </div>
                        <div class="form-group">
                            <input type="text" name="location" class="form-control" placeholder="Location">
                        </div>
                        <div class="form-group">
                            <input type="text" name="picture" class="form-control" placeholder="Picture URL">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        window.pegShortcode = '{{ shortcode }}';
    </script>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/pegweb/js/timeline.js') }}"></script>
{% endblock %}
