{% extends 'PegWebBundle::bootstrap/base.html.twig' %}

{% macro timeline_item(inverted, badge, title, time, text) %}
    <li {% if inverted is not null and inverted == true %}class="timeline-inverted"{% endif %}>
        <div class="timeline-avatar">
            <img src="https://nl.gravatar.com/userimage/53532088/935529cd68aca7983949ebcc44355078.jpg?size=200" class="img-responsive img-circle">
        </div>
        <div class="timeline-badge"><i class="glyphicon glyphicon-{{ badge|default('check') }}"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">{{ title }}</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ time }}</small></p>
            </div>
            <div class="timeline-body">
                {{ text|raw }}
            </div>
        </div>
    </li>
{% endmacro %}

{% block navbar_navigation %}
    <li><a href="{{ path('web_homepage') }}">Recent Pegs</a></li>
{% endblock %}

{% block body %}
    <ul class="timeline">
        {{ _self.timeline_item(
            false,
            'check',
            'Mussum ipsum cacilds',
            '11 hours ago via Twitter',
            '<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
                        Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                '
        ) }}
        {{ _self.timeline_item(
            true,
            'check',
            'Mussum ipsum cacilds',
            '11 hours ago via Twitter',
            '<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
                        Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                '
        ) }}
        {{ _self.timeline_item(
            false,
            'check',
            'Mussum ipsum cacilds',
            '11 hours ago via Twitter',
            '<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
                        Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                '
        ) }}
        {{ _self.timeline_item(
            true,
            'check',
            'Mussum ipsum cacilds',
            '11 hours ago via Twitter',
            '<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
                        Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                '
        ) }}
    </ul>
    <script>
        window.pegShortcode = '{{ shortcode }}';
    </script>
{% endblock %}


{% block scripts %}
    <script src="{{ asset('bundles/pegweb/js/timeline.js') }}"></script>
{% endblock %}
